.graph-list-container {
  position: relative;
  margin: 50px auto;
  width: 80%;
  left: 30px;
}

.graph-list-graph {
  padding: 10px;
  background: white;
  box-shadow: 0 0 10px grey;
  float: left;
  margin: 0 26.8px;
  margin-bottom: 26.8px;
  border-radius: 5px;
}

.graph-list-delete-graph {
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  margin-bottom: 10px;


  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
}

@-webkit-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
